<div class="blurb credits">
<div class="header"><h1>Site Credits</h1></div>
<div class="body">
<ul>
<li>Ray - The amount of help he has given me over the years with bbsengine (and a bunch of other projects) is immeasurable.</li>
</ul>
</div> {* body *}
</div> {* blurb *}

