{extends file="page.tmpl"}
{block name="header"}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/handbook.css" media="screen" />
{/block}
{block name="content"}
<div class="blurb chapter">
<div class="header"><h1>bbsengine {$data.version} handbook chapter: {$data.title}</h1></div>
<div class="body">
{$data.html|markdown}
</div> {* body *}
</div> {* blurb *}
{/block}
{block name="title"}bbsengine {$data.version} handbook: {$data.title}{/block}
