<div id="maturecontentwarning" class="blurb">
<h1>WARNING</h1><p>this website contains content that is intended for mature
audiences, for example the topics of "<a href="{$smarty.const.TEOSURL}politics/">politics</a>", "<a href="{$smarty.const.TEOSURL}society-culture/religion-spirituality/">religion</a>", and "<a href="{$smarty.const.TEOSURL}entertainment/professional-wrestling/">pro' wrastlin'</a>".</p>
</div>
