<html>
<head>
<title>testing pageshort.tmpl</title>
</head>
<body id="body" class="scene element fadeIn">
{block name="content"}
<main>{block name="main"}NEEDINFO:main{/block}</main>
{/block}
</body>
</html>
