<div class="blurb redirectpage">
<h1>Redirect</h1>
<p style="text-align: center;">{$message}. This page should automagically redirect in {$delay} second(s). If not, use this link: <a href="{$url}">&lt;{$url}&gt;</a></p>
</div>
