body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(3, 62, 107);
	font-size: 18px;
	margin: 0;
	padding: 0;
}

a:link {
	color: #C0C0C0;
}

a:visited {
	color: #D0D0D0;
}

a:hover {
	color: yellow;
}
