@import "vars";

ul.breadcrumbs {
  padding: 0.125em;
  font-weight: bold;
  margin: 0;
  display: inline;

  li {
    display: inline;
  }

  a {
    color: $blurb-body-textcolor;
    text-decoration: underline;

    &:hover {
      color: $blurb-body-backgroundcolor;
      background-color: $blurb-body-textcolor;
    }

    &:visited {
      color: darken($blurb-body-textcolor, 10%);
    }
  }
}
