#notifications {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 1.0em;
    max-width: 25%;
}

#notifications li {
  margin: 5px;
}

#notifications li div.notify {
  background-color: #004F86;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  margin: 0px;
  padding: 1em;
  width: 100%;
  float: right;
  clear: both;
  margin: 5px;
}

/*
#notifications li div.notify:hover {
  opacity: 0.15;
}
*/

#notifications li div.closebutton {
    background:url(/images/notificationclosebutton.gif);
    width:22px;
    height:22px;
    cursor: hand; cursor: pointer;
}

#notifications li div.notify a:link { 
  color: #FFFFFF; 
}

.notify {
  
}

.blurb.notify.popup {
	.footer {
		background-color: #004F86;
		border: 0;
		ul.actions {
			background-color: #004F86;
			li {
				background-color: #000000;
			}
		}
	}
}
