@import "vars";
@import "mixins";

div#topbar {
    box-sizing: border-box;
    display: flex;
    // align-items: center; // stretch;
    // justify-content: space-between;
    flex-direction: row;
    // padding: 0.50em;
    flex: 0 1 auto; // stretch h but not v
    font-size: 1.0em;

    color: $topbar-textcolor; // /* #303030; */

    background-color: $topbar-backgroundcolor; // #ababab;

    border: 0;
    border: $topbar-border;
    margin: 0.5em;
    padding: 0;

    ul {
        padding: 0;
        margin: 0;
    }
    
    p {
        padding: 0.25em;
        margin: 0;
    }

    .start, .end {
        padding: 0.50em;
    }

    .start { 
        border: 0;
        border-right: $topbar-border;
        justify-content: flex-start;
        order: -1;
    }

    .middle { 
        flex: 1;
        flex-grow: 1;
        padding: 0.50em;
    }

    .end {
        border: 0em;
        border-left: $topbar-border;
        justify-content: flex-end;
        order: 1;
    }
    
    #clock {
        display: inline;
    }

	a {
		color: $blurb-textcolor;
		text-decoration-color: yellowgreen;
		text-decoration: underline;
		@include transition(all 0.25s);
        
		&:hover {
			color: $blurb-body-textcolor;
			background-color: invert($blurb-body-textcolor);
		}
	}
    &.fixed {
            position: sticky;
            top: 0; // -5px;
            left: 0;
            width: 100%;
            z-index: 10;
            opacity: 1.00;
            margin-left: 0;

            box-shadow: 0 0 1.0em rgba(0, 0, 0, 0.2);
    }
    transition: all 0.5s ease;
}

