div#topbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  font-size: 1.0em;
  color: #dad7cd;
  background-color: #3a5a40;
  border: 0;
  border: 0.125em solid #4a4a4a;
  margin: 0.5em;
  padding: 0;
  transition: all 0.5s ease;
}
div#topbar ul {
  padding: 0;
  margin: 0;
}
div#topbar p {
  padding: 0.25em;
  margin: 0;
}
div#topbar .start, div#topbar .end {
  padding: 0.50em;
}
div#topbar .start {
  border: 0;
  border-right: 0.125em solid #4a4a4a;
  justify-content: flex-start;
  order: -1;
}
div#topbar .body {
  display: flex;
  flex-direction: row;
  flex: 1;
}
div#topbar .middle {
  flex: 1;
  flex-grow: 1;
  padding: 0.50em;
}
div#topbar .end {
  border: 0em;
  border-left: 0.125em solid #4a4a4a;
  justify-content: flex-end;
  order: 1;
}
div#topbar #clock {
  display: inline;
}
div#topbar a {
  color: #dad7cd;
  text-decoration-color: yellowgreen;
  text-decoration: underline;
  transition: all 0.25s;
}
div#topbar a:hover {
  color: #dad7cd;
  background-color: #252832;
}
div#topbar.fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 1.00;
  margin-left: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
