{if count($actions) > 0}
<ul class="actions inlinelist">
{foreach $actions as $action}
<li> [&nbsp;<span class="action{if isset($action.class) && empty($action.class) === false} {$action.class}{/if}"></span>&nbsp;
{if strlen($action.href) > 0}
 <a href="{$action.href}"{if !empty($action.contenturl)} class="tooltip" data-contenturl="{$action.contenturl}"{/if}>{$action.title}</a>&nbsp;]
{else}
 {$action.title}&nbsp;]
{/if}
</li>
{/foreach}
</ul>
{/if}
