{extends file="page.tmpl"}
{block name="title"}teos - {$data.title}{/block}
{block name="content"}
<div class="blurb vstretch">
<div class="header"><h1>{$data.title}{if $data.hidden} [hidden]{/if}</h1></div>
<div class="body">
<ul class="nobullets">
{if $data.uri !== null && $data.uri !== "" && $data.uri !== "/"}
<li>{fa ico="level-up-alt" fixed=1 rspace=1} <a href=".."> previous folder</a></li>
{/if}
{foreach $data.items as $item}
<li>{if $item.ext == "md" || $item.ext == "txt"}{fa ico="file" fixed=1 rspace=1}{else}{fa ico="folder" fixed=1 rspace=1}{/if}<a href="{$item.uri}">{$item.title}</a>{if $item.ext} <span>({$item.ext})</span>{/if}</li>
{/foreach}
</ul>
</div>
</div>
{/block}
