{* base template for all notifies: terse, detail, and popup modes *}
<div class="blurb notify {$mode} noborder">
{if $mode == "popup"}<div class="closebutton"></div>{/if}
<div class="body">{block name="message"}{/block}</div>
<div class="footer">
{* <p>notify.type={$notify.type}</p>  *}
{*<br /><pre>{$notify.data|var_dump}</pre> *}
<div style="float: right; width: 50%; text-align: right; font-size: 0.75em;">Sent: {$notify.datesentepoch|datestamp}<br />{$notify.type} #{$notify.id}</div>
</div>
</div>
