{if $pageinfo.numPages > 1}
  <div class="blurb pagelinks gradient-border">
{* 	<pre>{$pageinfo.links.pages}</pre> *}
   <ul class="inlinelist">
    <li>totalItems: {$pageinfo.totalItems}</li>
    <li>{$pageinfo.links.first}</li>
    <li>{$pageinfo.links.back}</li>
    <li>{$pageinfo.links.pages}</li>
    <li>{$pageinfo.links.next}</li>
    <li>{$pageinfo.links.last}</li>
    <li>numPages: {$pageinfo.numPages}</li>
   </ul>
  </div> {* pagelinks *}
{/if} {* numPages > 1 *}
