{extends file="page.tmpl"}
{block name="title"}{$data.title}{/block}
{block name="head" append}
<link rel="stylesheet" type="text/css" href="{$smarty.const.ENGINESKINURL}css/youarehere.css" media="screen">
{/block}
{block name="content"}
  {if $data.uri !== null && $data.uri !== "" && $data.uri !== "/"}
  {include file="youarehere.tmpl" breadcrumbs=$data.breadcrumbs linklast=true}
  {/if}
  {foreach $data.sections as $section}
  <div class="blurb">
    <div class="header">
      <h1>{$section.header}</h1>
    </div>
    <div class="body">
      {$section.content}
    </div>
    {if is_array($section.date) || (isset($section.date) && $section.date !== "")}
    <div class="metadata">
      {if isset($section.date)}<span class="date">{$section.date}</span>{/if}
      {if isset($section.author)}<span class="author">{$section.author}</span>{/if}
    </div>
    {/if}
  </div>
  {/foreach}
{/block}
