{extends file="page.tmpl"}
{block name="head" append}
<link rel="stylesheet" type="text/css" href="{$smarty.const.ENGINESKINURL}css/youarehere.css" media="screen">
{/block}
{block name="main"}
{if !empty($data.breadcrumbs)}
{include file="youarehere.tmpl" breadcrumbs=$data.breadcrumbs}
{/if}
<div class="blurb vstretch">
<div class="body">
{$data.content}
</div>
</div>
{/block}
