{*<pre>{$sig|var_dump}</pre>*}
{if $sig !== null}
<div class="blurb">
<div class="header"><h1>{if $sig.icon !== ""}<i class="fa fa-fw {$sig.icon}"></i> {/if}<a href="{$smarty.const.TEOSURL}{$sig.uri}">{$sig.title}</a></h1></div>
{if $sig.intro}<div class="body">{$sig.intro}</div>{/if}
<div class="footer">
{include file="actions.tmpl" actions=$sig.actions}
</div> {* footer *}
</div>
{/if}
