{if $currentmember.flags.SYSOP === True}
 <div class="end join"> 
  <div class="inner"><span class="fa fa-user-plus fa-fw" aria-hidden="true"></span>&nbsp;<a href="/join">join</a></div>
 </div> 
{/if}
