{include file="topbar-greetings.tmpl"}
<div class="middle">{block name="topbarmiddle"}<div class="inner">&nbsp;</div>{/block}</div>
{include file="topbar-sitedebug.tmpl"}
{* {$currentmember|var_export} *}
{include file="topbar-notifycount.tmpl"}<!-- /notifycount -->
{include file="topbar-credits.tmpl"}<!-- /credits -->
{include file="topbar-loginlogout.tmpl"}
{include file="topbar-join.tmpl"}
{* {include file="topbar-authenticated.tmpl"} *}
{include file="topbar-digitalclockflashingcolon.tmpl"}
{*<div class="end">
 <p><span class="sidebaricon fa fa-fw fa-bars"></span><span class="fa fa-fw fa-caret-down"></span></p>
</div> *}
{* <div class="end status"><div class="inner">[OK]</div></div> *}
