{if $currentmember.flags.SYSOP === True}
 <div class="end join"> 
  <div class="inner"><span class="fa fa-user-plus fa-fw"></span>&nbsp;<a href="{$smarty.const.ENGINEURL}join">join</a></div>
 </div> 
{/if}
