{if $currentmember.flags.AUTHENTICATED}
 <div class="end loginlogout">
  <div class="inner"><span class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></span>&nbsp;<a href="/engine/logout">logout</a></div>
 </div>
{else} {* not authenticated *}
 {if $currentaction <> "login"}
 <div class="end loginlogout">
  <div class="inner"><span class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></span>&nbsp;{if $currentpage === "login"}login{else}<a href="/engine/login">login</a>{/if}</div>
 </div>
 {/if} {* currentaction is not 'login' *}
{/if} {* flags.authenticated *}
